<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="MyApp">
    <head>
        <title>Doyage Admin</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/signin.css" rel="stylesheet">
        <script src="js/ie-emulation-modes-warning.js"></script>

    </head>
    <body>



        <form class="form-signin"  ng-submit="submit()" ng-controller="LoginCtrl">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="user" name="user">
            <input type="password" class="form-control" placeholder="Password" required="" ng-model="pass" name="pass">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <input class="btn btn-lg btn-primary btn-block"  id="submit"
                   type="submit" value="Sign in" />
        </form>




        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
       <script src="angular/angular.js"></script>
        <script src="angular/angular-route.js"></script>
        <script src="js/myapp.js"></script>

        <div id="ytCinemaMessage" style="display: none;"></div></body>
</html>
