<script>

    $(function() {


        $("#slider1").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            timeout: 6000,
            maxwidth: 1200,
            namespace: "centered-btns"

        });
        $("#slider2").responsiveSlides({
            auto: true,
           
            timeout: 6000
        });

    });
</script> 

<div class="mainBack">
    <div class="mainBackImage">
        <ul class="rslides" id="slider2">
            <li><img src="img/intro-bg.jpg" alt=""></li>
            <li><img src="img/1.jpg" alt=""></li>
            <li><img src="img/2.jpg" alt=""></li>
            <li><img src="img/3.jpg" alt=""></li>
        </ul>
    </div>
    <div class="mainBack_box">
        <div class="sliderCont">
            <div id="wrapper">
                <div class="rslides_container">
                    <ul class="rslides" id="slider1">
                        <li><img src="img/1.jpg" alt=""></li>
                        <li><img src="img/2.jpg" alt=""></li>
                        <li><img src="img/3.jpg" alt=""></li>
                    </ul>
                </div>
            </div>

        </div>


        <img src="img/one_for_one_script.png" class="centerImage" />  
        <div class="textDesc" >Mongolia Today

            Mongolia may be just little fish in the big pond of globalization but its importance on the world stage has only just started to grow. Pundits have dubbed the country “Mingolia”, a nod to its enormous mineral wealth. Indeed the country is rich in copper, gold, coal, and other minerals and the government is being wooed y international firms hoping to grab a piece of pie. Mongolians are stepping cautiously ahead, wary of the fact that other natural resource rich countries have been over – exploited and ruined by corruption and mismanagement. All the talk now is what path the government will take – rapid development and the reduction of poverty, or corruption and a greater split between the rich and poor.
        </div>


    </div>
</div>